.NavigationItem {
  display: flex;
  justify-content: space-around;
  height: 100%;

  &-left, &-right {
    display: flex;
    align-items: stretch;
    width: 50%;
    height: 100%;
  }

  &-left {
    justify-content: flex-start;
  }

  &-right {
    justify-content: flex-end;
  }
}
